*
!*.py
!*.md
!*.txt
!*.jpg
!requirements*
!Dockerfile*
!*.sh
!logs/
!logs/**
!mainscripts/
!models/
!models/Model_SAEHD/
!models/Model_DeepVooDoo/
!configs/
!configs/**
!core/
!core/leras/
!core/leras/archis
